@import '../base/colores';
/*DISEÑO DE LA PAGINA*/
/* Importo fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body {
    background-color: nth($colores, 1);
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  /*FIN DE DISEÑO BASE DE LA PAGINA*/