@import '../base/colores';

/*Titulo*/
.titulo{
    background-color: nth($colores, 5);

    h1 {
        padding: 10px 0 !important;
        color: nth($colores, 1);
        text-align: center;
            
        /*AVATAR DEL USUARIO*/
        a{
            img{
                width:50px;
                height:50px;
                border-radius: 50%;
                float: right;
            }
        }
    }
}

/*NavBar*/
.navbar{
    background-color: nth($colores, 5);
}

.navegacion{
    background-color: nth($colores, 5);
    margin: 20px 0;
}
.menu{
    margin-left: auto;
}