
/* ANIMACION TITULO PRODUCTOS*/
.productos{
    transition: all 1s;
}
.productos:hover{
    transform: scale(1.25);
}
/* ANIMACION LOGO WPP*/
.fixed {
    transition: all 1s;
}
.fixed:hover {
    transform: scale(1.25);
}
/*Animacion links*/
.nav-link{
    transition: all 1s;
}
.nav-link:hover{
    transform: scale(1.25);
}